/* src/components/SearchBar.css */
.search-bar {
    margin-bottom: 20px;
    width: 100%;
}

.search-bar input {
    width: calc(100% - 20px);
    /* Adjust for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.search-bar input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}